<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/">PIUS’s New Upload</a>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/writings">Writings</a>
      <a href="/pdfs">PDFs</a>
      <a href="/#socials">Socials</a>
    </nav>
  </div>
</header>
