<section>
  <h1>All Writings</h1>
  <p>This is where your full list of writings will appear later.</p>

  <ul>
    <li><a href="/writings/first-post.html">I MISS YOU</a></li>
    <li><a href="/writings/cleaner-and-ceo.html">Letters from my heart</a></li>
  </ul>
</section>
